<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
   <welcome-file-list>
    <welcome-file>/????.html</welcome-file>
    <welcome-file>/????.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>TRMS_DB</param-name>
    <param-value>jdbc:oracle:thin:pega1907.c2eziwx6aimi.us-east-2.rds.amazonaws.com:1521:ORCL,kylekolstad,p4ssw0rd</param-value>
  </context-param>
   <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.revature.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.revature.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DenyServlet</display-name>
    <servlet-name>DenyServlet</servlet-name>
    <servlet-class>com.revature.servlet.DenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyServlet</servlet-name>
    <url-pattern>/deny</url-pattern>
  </servlet-mapping>
</web-app>